/* PHONES */

/* SMALL TABLETS */

/* LARGE TABLETS AND LAPTOPS */

/*  */

@media screen and (min-width:600) {}

@media screen and (min-width:900) {}

@media screen and (min-width:1200) {}

.button {
    background: #000000;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 16px;
    transition: 0.4s background, 0.4s color, 0.4s border-color ease-in-out;
}

.button:hover {
    color: #000000;
    background: #fff;
    border-color: #000000;
}

.button:focus {
    outline: 0;
}

.box {
    width: 90%;
    padding: 5% 5%;
    text-align: center;
}

.header-text-pages {
    font-size: 1.2rem;
}

.services-paragraph {
    font-size: 1rem;
    line-height: 2rem;
}

.services-image {
    margin-top: 10%;
}

#programmingIcon {
    height: 70%;
    width: 70%;
}

.navbar-custom {
    padding: 0.1rem 0.2rem !important;
    background-color: #fff !important;
}

.nav-link {
    transition: 0.4s color ease-in-out !important;
}

.nav-link:hover {
    color: #000000 !important;
}

.navbar-toggler-custom {
    font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
    .button {
        padding: 8px 14px;
        font-size: 0.6rem;
        border-color: #fff;
    }
    .box {
        padding: 20% 3% 2% 3%;
        width: 94%;
        text-align: center;
    }
    #navalProjectButton {
        margin: 5% 0;
    }
    #softwareProjectButton {
        margin: 5% 0;
    }
    .carousel {
        padding: 5% 0;
    }
    .carousel-image {
        width: 100%;
        height: auto;
    }
    .services-paragraph {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }
    .header-text-pages {
        font-size: 1rem;
    }
    .navbar-custom {
        height: 50%;
        padding: 0.2rem 0.5rem !important;
    }
    .navbar-toggler-custom {
        font-size: 0.8rem;
    }
}

@media only screen and (max-height: 700px) {
    .services-paragraph {
        font-size: 0.7rem;
    }
    .header-text-pages {
        font-size: 0.8rem;
    }
}

@media only screen and (min-height: 850px) {
    .button {
        font-size: 0.6rem;
    }
    .services-paragraph {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 770px) {
    .button {
        font-size: 0.6rem;
    }
    .services-paragraph {
        font-size: 1rem;
    }
}