@media only screen and (max-width: 600px) {
    .button {
        text-transform: uppercase;
        padding: 6px 8px;
        font-size: 0.6rem;
    }
    .box {
        padding: 5% 3% 5% 3%;
        width: 94%;
        text-align: center;
    }
    #navalProjectButton {
        margin: 5% 0;
    }
    #softwareProjectButton {
        margin: 5% 0;
    }
    .carousel {
        padding: 5% 0;
    }
    .carousel-image {
        width: 100%;
        height: auto;
    }
    .services-paragraph {
        font-size: 0.8rem;
    }
    .header-text-pages {
        font-size: 1rem;
    }
    .navbar-custom {
        height: 50%;
        padding: 0.2rem 0.5rem !important;
    }
    .navbar-toggler-custom {
        font-size: 0.8rem;
    }
}

@media only screen and (max-height: 700px) {
    .services-paragraph {
        font-size: 0.7rem;
    }
    .header-text-pages {
        font-size: 0.8rem;
    }
}