header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip.jpg");
    /* Center and scale the image nicely */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.header-box {
    position: absolute;
    top: 60%;
    left: 5%;
    text-transform: uppercase;
}

.header-text {
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    .header-box {
        top: 60%;
        width: 80%;
    }
    .header-text {
        font-size: 1rem
    }
}

@media only screen and (max-height: 700px) {
    .header-box {
        top: 60%;
        width: 90%;
    }
    .header-text {
        font-size: 0.8;
    }
}

@media only screen and (max-height: 600px) {
    .header-box {
        top: 40%;
        width: 90%;
    }
    .header-text {
        font-size: 0.8;
    }
}

@media only screen and (min-height: 850px) and (max-height: 1200px) {
    .header-box {
        top: 55% !important;
        width: 90%;
    }
    .header-text {
        font-size: 1.6rem !important;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1200px) {
    .header-box {
        top: 55% !important;
        width: 90%;
    }
    .header-text {
        font-size: 1.4rem !important;
    }
}

@media only screen and (min-height: 1000px) {}

@media only screen and (min-width: 1000px) {}