header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip.jpg");
    /* Center and scale the image nicely */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.header-box {
    position: absolute;
    top: 50%;
    left: 5%;
    text-transform: uppercase;
}

.header-text {
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    .header-box {
        top: 45%;
        width: 80%;
    }
    .header-text {
        font-size: 1.2rem
    }
}