/* LARGE PHONES */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip.jpg");
    /* Center and scale the image nicely */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.header-box {
    position: absolute;
    top: 60%;
    left: 5%;
    text-transform: uppercase;
}

.header-text {
    font-size: 0.8rem;
}

@media screen and (min-height: 650px) {}

@media screen and (min-height: 950px) {}

@media screen and (min-height: 1250px) {}

@media screen and (min-width: 350px) {
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip.jpg");
        /* Center and scale the image nicely */
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        height: 100vh;
    }
    .header-box {
        position: absolute;
        top: 65%;
        left: 5%;
        text-transform: uppercase;
    }
    .header-text {
        font-size: 1rem;
    }
}

@media screen and (min-width: 650px) {
    header {
        /* To compensate for mobile browser address bar space */
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip.jpg");
        /*Center and scale the image nicely*/
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        height: 100vh;
    }
    .header-box {
        position: absolute;
        top: 65%;
        left: 5%;
        text-transform: uppercase;
    }
    .header-text {
        font-size: 1.4rem;
    }
}

/* SMALL TABLETS */

/* LARGE TABLETS AND LAPTOPS */

@media screen and (min-width: 900px) {
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip.jpg");
        /* Center and scale the image nicely */
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        height: 100vh;
    }
    .header-box {
        position: absolute;
        top: 60%;
        left: 5%;
        text-transform: uppercase;
    }
    .header-text {
        font-size: 1.6rem;
    }
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip.jpg");
        /* Center and scale the image nicely */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }
    .header-box {
        position: absolute;
        top: 60%;
        left: 5%;
        text-transform: uppercase;
    }
    .header-text {
        font-size: 2rem;
    }
}

@media screen and (min-height: 300px) and (max-width: 600px) and (orientation: landscape) {
    .header-box {
        top: 45%;
    }
    .header-text {
        font-size: 0.8rem;
    }
    .button {
        font-size: 0.6rem;
    }
    #showButton {
        font-size: 0.6rem;
    }
}

@media screen and (min-height: 350px) and (max-width: 850px) and (orientation: landscape) {
    .header-box {
        top: 45%;
    }
    .header-text {
        font-size: 1rem;
    }
    .button {
        font-size: 0.7rem;
    }
    #showButton {
        font-size: 0.7rem;
    }
}