.row {
    width: 90%;
    display: inline-block;
}

.column-2 {
    width: 49.9%;
    float: left;
}

.column-3 {
    width: 33.3%;
    float: left;
}

.logo-partners {
    padding: 0;
    height: 120px;
    width: 350px !important;
}

.partners-text {
    text-transform: uppercase;
}

.location-text {
    align-content: center;
}

.image-location {
    border-radius: 10%;
    height: 300px;
    width: 500px !important;
}