.section-projects {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.section-naval {
    width: 49.9%;
    float: left;
}

.section-naval-more {
    width: 49.9%;
    float: left;
}

@media only screen and (max-width: 600px) {
    .section-naval {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: auto;
        width: 100%;
    }
    #sectionServicesNaval {
        height: 100vh !important;
    }
    .section-naval-more {
        background: rgb(0, 42, 108);
        background: linear-gradient(0deg, rgba(0, 42, 108, 1) 16%, rgba(4, 148, 249, 1) 100%);
        width: 100%
    }
}

@media only screen and (max-height: 700px) {}

@media only screen and (min-height: 850px) {
    .section-naval-more {
        width: 100% !important;
        background: rgb(0, 42, 108);
        background: linear-gradient(0deg, rgba(0, 42, 108, 1) 16%, rgba(4, 148, 249, 1) 100%);
    }
}

@media only screen and (min-width: 770px) {
    .section-naval-more {
        width: 100% !important;
        background: rgb(0, 42, 108);
        background: linear-gradient(0deg, rgba(0, 42, 108, 1) 16%, rgba(4, 148, 249, 1) 100%);
    }
}