/* PHONES */

.section-partners {
    background: rgb(0, 42, 108);
    background: linear-gradient(0deg, rgba(0, 42, 108, 1) 16%, rgba(4, 148, 249, 1) 100%);
}

#customPartnersBox {
    padding: 8% 5% 5% 5%
}

.partners-paragraph {
    color: #ffffff;
    font-weight: lighter;
    margin: 5%;
    font-size: 0.7rem;
}

.partners-logo {
    width: 100%;
    height: auto;
    margin: 10% 0 0 5%;
    padding: 0 5% 0 5%;
}

#partnersBox {
    text-align: center;
}

.row {
    width: 100%;
}

.col-3 {
    width: 33.3%;
}

/* SMALL TABLETS */

@media screen and (min-width: 600px) {}

/* LARGE TABLETS AND LAPTOPS */

@media screen and (min-width: 900px) {}

/* DESKTOP */

@media screen and (min-width: 1200px) {
    .col-3 {
        width: 33.3%;
        float: left;
        text-align: center;
    }
    .row {
        width: 100%;
        overflow: hidden;
    }
    .partners-logo {
        height: auto;
        display: block;
    }
    #partnersHeader {
        color: #ffffff;
        text-align: left;
    }
    .partners-paragraph {
        color: #ffffff;
    }
}

@media only screen and (max-width: 600px) {}

@media only screen and (max-height: 700px) {}