/* PHONES */

.section-naval {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg");
    position: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: scroll;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: auto;
    width: 100%;*/
}

.services-image {
    width: 100%;
    height: auto;
}

/* SMALL TABLETS */

@media screen and (min-width: 600px) {
    .section-services {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }
    .box {
        width: 100%;
    }
    .section-naval {
        width: 100%;
    }
    .section-software-page {
        width: 100%;
        background: rgb(0, 42, 108);
        background: linear-gradient(0deg, rgba(0, 42, 108, 1) 16%, rgba(4, 148, 249, 1) 100%);
    }
}

/* LARGE TABLETS AND LAPTOPS */

@media screen and (min-width: 900px) {
    .section-services {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
    }
    .section-naval {
        width: 100%;
    }
    .section-software-page {
        width: 100%;
        background: rgb(0, 42, 108);
        background: linear-gradient(0deg, rgba(0, 42, 108, 1) 16%, rgba(4, 148, 249, 1) 100%);
    }
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
    .section-services {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }
    .section-naval {
        /*width: 49.9%;
        float: left;*/
        overflow-y: hidden;
    }
    .box {
        width: 49.9%;
        padding: 8% 5% 5% 5%;
        float: left;
    }
    .section-software-page {
        width: 49.9%;
        float: left;
        background: none;
    }
    .services-image {
        width: auto;
        height: auto;
    }
}