/* PHONES */

.section-software {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg");
    position: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: scroll;
}

/* SMALL TABLETS */

@media screen and (min-width: 600px) {
    .section-software {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg");
        position: fixed;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow-y: scroll;
    }
}

/* LARGE TABLETS AND LAPTOPS */

@media screen and (min-width: 900px) {
    @media screen and (min-width: 600px) {
        .section-software {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url("https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg");
            position: fixed;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow-y: scroll;
        }
    }
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
    .section-software-projects {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url('https://bucket-softcad.s3.eu-west-2.amazonaws.com/softcad/scs_headerShip2.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 120vh;
    }
    .section-software {
        width: 100%;
        float: left;
        overflow-y: hidden;
    }
}