html, body {
  background-color: #f4f1ee;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  overflow-x: hidden;
  margin: 0
}

/* FOOTER NAV */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: transparent;
  color: white;
  text-align: center;
}

/* LANDING PAGE */

.header-image-hero {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.overlay {
  position: relative;
}

.overlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.header-text-box {
  position: absolute;
  top: 65%;
  left: 5%;
}

/*  SERVICES PAGE  */

.header-image-naval {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.image-software {
  border-radius: 25%;
  height: 400px;
  width: 70% !important;
  margin-left: 15%;
  margin-top: 10%;
}

.image-naval {
  margin-top: 10%;
}

.services-paragraph {
  text-transform: initial;
  font-size: 140%;
}

.partner-paragraph {
  padding: 1%;
}

.services-button-naval {}

.services-button-software {}

.services-box {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 2%;
}

.services-box-left {
  text-align: center;
  width: 49%;
  float: left
}

.services-box-right {
  text-align: center;
  width: 49%;
  float: left
}

/* Buttons */

.button-next {}

.button-prev {}

/* NAVAL PROJECT PAGE */

.image-naval-collection {
  height: 300px;
  width: 400px;
  padding: 3%;
}

.image-software-collection {
  height: 300px;
  width: 400px;
  padding: 3%;
}

.image-location {
  border-radius: 5%;
}

.column-3 {
  width: 33.3%;
  float: left;
  margin-top: 2%;
}

.logo-partners {
  height: 100px;
  width: 300px;
}

/* MEDIA QUERIES */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .header-image-hero {
    height: 100vh;
    width: auto;
  }
  .header-text-box {
    position: absolute;
    top: 55%;
    left: 5%;
  }
  .header-text {
    font-size: 160%;
    width: 80%;
    word-spacing: 5px;
    letter-spacing: 2px;
  }
  .header-image {
    height: 100vh;
    width: auto;
  }
  .services-box {
    position: absolute;
    top: 5%;
    left: 2%;
    right: 5%
  }
  .services-box-left {
    width: 96%;
    margin-left: 2%;
  }
  .services-box-right {
    width: 96%;
    margin-left: 2%;
  }
  .header-naval {
    font-size: 160%;
    padding: 2%;
  }
  .image-naval {
    width: 90%;
    height: auto;
    padding-bottom: 10%;
  }
  .header-image-naval {
    height: 115vh;
    width: auto;
  }
  #headerNaval {
    color: #000000;
  }
  #servicesParagraph {
    color: #000000;
  }
  #imageNavalProjects {
    height: 82vh;
  }
  .services-paragraph {
    font-size: 120%;
    text-align: left;
  }
  .image-naval-collection {
    height: auto;
    width: 90%;
    padding: 6%;
    margin-bottom: 3%;
  }
  #servicesBoxRightMobile {
    width: 100%;
  }
  .header-software {
    font-size: 160%;
  }
  #headerSoftware {
    color: #000000
  }
  .services-paragraph-software {
    font-size: 120%;
    text-align: left;
  }
  .black {
    color: #000000 !important;
  }
  .image-software-collection {
    height: auto;
    width: 90%;
    margin-top: 16%;
  }
  .column-3 {
    width: 96%;
    margin-left: 2%;
  }
  #headerImagePartners {
    background-repeat: repeat-y;
    height: auto;
    width: auto;
  }
  .partners-text {
    color: #000000
  }
  .partner-paragraph {
    color: #000000
  }
  .column-2 {
    width: 96%;
    margin-left: 2%;
  }
  .image-location {
    height: auto;
    width: 80%;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}