html, body {
  background-color: #f4f1ee;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  overflow-x: hidden;
  margin: 0
}

/* FOOTER NAV */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.nav {
  position: fixed;
  display: inline-block;
  left: 0;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: #000000;
  color: white;
  text-align: center;
}

/* LANDING PAGE */

.header-image-hero {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.header-image {
  width: 100%;
}

.header-image-software {
  width: 100%;
}

.header-image-partners {
  width: 100%;
}

.header-image-location {
  width: 100%;
}

.overlay {
  position: relative;
}

.overlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.header-text-box {
  position: absolute;
  top: 65%;
  left: 5%;
}

/*  SERVICES PAGE  */

.header-image-naval {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 105vh;
}

.image-software {
  border-radius: 25%;
  height: 400px;
  width: 70% !important;
  margin-left: 15%;
  margin-top: 10%;
}

.image-naval {
  margin-top: 10%;
}

.services-paragraph {
  text-transform: initial;
  font-size: 140%;
}

.partner-paragraph {
  padding: 1%;
}

.header-software {
  font-size: 120%;
}

.services-button-naval {}

.services-button-software {}

.services-box {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 2%;
}

.services-box-left {
  text-align: center;
  width: 49%;
  float: left
}

.services-box-right {
  text-align: center;
  width: 49%;
  float: left
}

/* Buttons */

.button {
  background: transparent;
  text-transform: uppercase;
  padding: 10px 12px;
  color: #ffffff;
  transition: 0.3s color, 0.3s background ease-in;
}

.button:hover {
  background: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

.button:focus {
  outline: 0
}

#buttonPrev {
  border: none;
}

#buttonNext {
  border: none;
  margin-left: 5%;
  margin-bottom: 5%;
}

.button-prev {}

/* NAVAL PROJECT PAGE */

.image-naval-collection {
  height: 500px;
  width: 400px;
  padding: 0;
}

.image-software-collection {
  height: 400px;
  width: 380px;
  padding: 0;
}

.image-location {
  border-radius: 5%;
}

.column-3 {
  width: 33.3%;
  float: left;
  margin-top: 2%;
}

.logo-partners {
  height: 100px;
  width: 300px;
}

.black {
  color: #000000 !important;
}

.blackButton {
  background: transparent;
  color: #000000;
}

/* MEDIA QUERIES */

/* ----------- iPhone 6, 7 and 8 plus ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  /* STYLES GO HERE */
  .header-image-hero {
    height: 100vh;
    width: auto;
  }
  .nav {
    height: 9% !important;
  }
  #imageNavalProjects {
    height: 120vh !important;
  }
  .header-image-naval {
    height: 120vh !important;
  }
  .header-text-box {
    position: absolute;
    top: 45% !important;
    left: 5%;
  }
  #headerSoftwareMobile {
    margin-top: 20% !important;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .header-image-hero {
    height: 100vh;
    width: auto;
  }
  .header-text-box {
    position: absolute;
    top: 50%;
    left: 5%;
  }
  .header-text {
    font-size: 160%;
    width: 80%;
    word-spacing: 5px;
    letter-spacing: 2px;
  }
  .header-image {
    height: 100vh;
    width: auto;
  }
  .services-box {
    position: absolute;
    top: 10%;
    left: 2%;
    right: 5%
  }
  .services-box-left {
    width: 96%;
    margin-left: 2%;
  }
  .services-box-right {
    width: 96%;
    margin-left: 2%;
  }
  .header-naval {
    font-size: 100%;
    padding: 2%;
  }
  .image-naval {
    width: 90%;
    height: auto;
    padding-bottom: 10%;
  }
  .header-image-naval {
    height: 110vh;
    width: auto;
  }
  #headerNaval {
    color: #ffffff;
    font-size: 100%;
  }
  #servicesParagraph {
    color: #ffffff;
    font-size: 100%;
  }
  #imageNavalProjects {
    height: 100vh;
  }
  .services-paragraph {
    font-size: 100%;
    text-align: left;
    margin: 0 5% 10% 5%
  }
  .image-naval-collection {
    height: auto;
    width: 90%;
    padding: 0;
  }
  #servicesBoxRightMobile {
    width: 100%;
  }
  .header-software {
    font-size: 120%;
    margin: 0 0 10% 5%;
  }
  #headerSoftware {
    color: #000000;
    margin-top: 10%;
  }
  #headerSoftwareMobile {
    margin-top: 15%;
  }
  .services-paragraph-software {
    font-size: 80%;
    text-align: left;
    margin: 0 5% 10% 5%
  }
  .black {
    color: #000000 !important;
  }
  .blackButton {
    border: #000000;
    color: #000000;
  }
  .image-software-collection {
    height: auto;
    width: 90%;
  }
  .column-3 {
    width: 96%;
    margin-left: 2%;
  }
  /*#headerImagePartners {
    background-repeat: repeat-y;
    height: auto;
    width: auto;
  }*/
  .partners-text {
    color: #000000;
    text-align: center;
    font-size: 120%;
  }
  .partner-paragraph {
    color: #000000;
    text-align: center
  }
  .column-2 {
    width: 96%;
    margin-left: 2%;
  }
  .image-location {
    height: auto;
    width: 80%;
  }
  .image-wrapper-mobile {
    text-align: center;
  }
  #buttonPrev {
    float: left;
    border: none;
  }
  #buttonNext {
    float: right;
    border: none;
  }
  .location-text {
    font-size: 120%;
    margin: 0 5% 10% 7%;
  }
  .alignMobile {
    margin: 0 0 0 5%;
  }
}

/* IPHONE X LANDSCAPE */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  /* STYLES GO HERE */
}

/* IPAD PRO */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .header-image-hero {
    height: 100vh;
  }
  .header-text-box {
    top: 70%;
  }
  .nav {
    height: 6%;
  }
  #buttonPrev {
    float: left;
    margin: 1%;
  }
  #buttonNext {
    float: right;
    margin: 1%;
  }
  .services-box-left {
    width: 99%;
  }
  .services-box-right {
    width: 99%;
  }
  .tabletBackground {
    background-color: #3874c0;
    min-height: 100vh;
    overflow: hidden;
  }
}